/********* MEDIA QUERIES *********/
/* XS - MOBILE FIRST */
body.debug {
    background: red;
}

/* SM - SMARTPHONE */
@media screen and (min-width: 480px) {
    body.debug {
        background: orange;
    }
}

/* MD - TABLET */
@media screen and (min-width: 768px) {
    body.debug {
        background: yellow;
    }
}

/* LG - DESKTOP */
@media screen and (min-width: 992px) {
    body.debug {
        background: yellowgreen;
    }
}

/* XL - LARGE DESKTOP */
@media screen and (min-width: 1201px) {
    body.debug {
        background: green;
    }
}
