/************************************/
/************** COLOR ***************/
:root {
    --primary-col: #adff2f;
    /* --primary-col-light: #b5ddff; */
    --secondary-col: #141922;
}

.bg-white {
    background-color: white;
}
.fg-white {
    color: white;
}

.bg-black {
    background-color: black;
}
.fg-black {
    color: black;
}

.bg-primary {
    background-color: var(--primary-col);
}
.fg-primary {
    color: var(--primary-col);
}

/* .bg-primary-light {
    background-color: var(--primary-col-light);
}
.fg-primary-light {
    color: var(--primary-col-light);
} */

.bg-secondary {
    background-color: var(--secondary-col);
}
.fg-secondary {
    color: var(--secondary-col);
}


/**************************/
/****** XS - MOBILE FIRST ******/

/* GENERIC UI */


/* HEADER */


/* MAIN CONTENT */
main {
    height: calc(100vh - 80px);
}

#side-nav {
    width: 48px;
    background-color: #333;;
    color: white;
}

#main-content-wrapper {
    width: calc( 100% - 48px );
    background: lightgrey;
}

#call-to-action-wrapper {
    position: fixed;
    width: calc( 100% - 48px);
    height: 80px;
    background-color: #00000077;
}

#main-content {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow-y: auto;
}

#main-content > nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-evenly;
}

#main-content > nav > a {
    /* width: 50%; */
    text-align: center;
    padding: 0.5rem;
}

.title-section {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row-section {
    padding: 1rem 2rem;
}

.card {
    width: 50%;
}

.card img {
    width: 100%;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    height: 80px;
}


/********************************/
/****** SM - RESPONSIVE: SMARTPHONE ******/
@media screen and (min-width: 480px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    #side-nav {
        width: 250px;
    }

    #main-content-wrapper {
        width: calc( 100% - 250px );
    }
    
    #call-to-action-wrapper {
        width: calc( 100% - 250px);
    }
        
    #main-content > nav > a {
        /* width: calc(100% / 3); */
    }

    .card {
        width: calc(100% / 3);
    }

}

/********************************/
/****** MD - RESPONSIVE: TABLET ******/
@media screen and (min-width: 768px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    #main-content > nav > a {
        /* width: calc(100% / 4); */
    }

    .card {
        width: calc(100% / 4);
    }

}

/*********************************/
/****** LG - RESPONSIVE: DESKTOP ******/
@media screen and (min-width: 992px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    #main-content > nav > a {
        /* width: calc(100% / 6); */
    }
    
    .card {
        width: calc(100% / 6);
    }

}


/***************************************/
/****** XL - RESPONSIVE: LARGE DESKTOP ******/
@media screen and (min-width: 1201px) {
    
    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
}
