/************************************/
/************** COLOR ***************/
:root {
    --primary-col: #adff2f;
    /* --primary-col-light: #b5ddff; */
    --secondary-col: #141922;
}

.bg-white {
    background-color: white;
}
.fg-white {
    color: white;
}

.bg-black {
    background-color: black;
}
.fg-black {
    color: black;
}

.bg-primary {
    background-color: var(--primary-col);
}
.fg-primary {
    color: var(--primary-col);
}

/* .bg-primary-light {
    background-color: var(--primary-col-light);
}
.fg-primary-light {
    color: var(--primary-col-light);
} */

.bg-secondary {
    background-color: var(--secondary-col);
}
.fg-secondary {
    color: var(--secondary-col);
}


/**************************/
/****** XS - MOBILE FIRST ******/

/* GENERIC UI */


/* HEADER */


/* MAIN CONTENT */


/********************************/
/****** SM - RESPONSIVE: TABLET ******/
@media screen and (min-width: 480px) and (max-width: 767px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */

}

/********************************/
/****** MD - RESPONSIVE: TABLET ******/
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */

}

/*********************************/
/****** LG - RESPONSIVE: DESKTOP ******/
@media screen and (min-width: 992px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */

}


/***************************************/
/****** XL - RESPONSIVE: LARGE DESKTOP ******/
@media screen and (min-width: 1201px) {
    
    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
}
